<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.omikitpluginexample">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application
      android:name=".MainApplication"
      android:label="Omikit Plugin Example"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="true"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTop"
        android:hardwareAccelerated="true"
        android:showWhenLocked="true"
        android:turnScreenOn="true"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
          <action android:name="com.omicall.sdk.CallingActivity"/>
          <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
      </activity>

    <receiver
        android:name="vn.vihat.omicall.omisdk.receiver.FirebaseMessageReceiver"
        android:exported="true"
        android:permission="com.google.android.c2dm.permission.SEND">
        <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        </intent-filter>
    </receiver>
    <service
      android:name="vn.vihat.omicall.omisdk.service.NotificationService"
      android:exported="false">
    </service>
    </application>
</manifest>
