<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0TdaZHQupuSRibLV_CVvmfj93zcwg18g</string>
	<key>GCM_SENDER_ID</key>
	<string>989782139117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.omicall.sdk.test</string>
	<key>PROJECT_ID</key>
	<string>omi-test-39522</string>
	<key>STORAGE_BUCKET</key>
	<string>omi-test-39522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989782139117:ios:a416d47b662e4b4a95ace4</string>
</dict>
</plist>